/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Playfair+Display&display=swap');
/* font-family: 'Inconsolata', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */

:root {
  --color-1: #1e3799;
  --color-2: #0c2461;
  --color-3: #0a3d62;
  --color-4: rgb(71, 117, 244);
}



/* NAV */

.head {
  border: 10px;
  min-height: 50% !important;
  height: 100px;
  margin: 0;
}

.nav{
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Inconsolata', monospace;
  background-color: white;
}

.logo{
  width: 22%;
  border-radius: 8%;
  margin-left: 5%;
}

nav a {
  margin: auto 1em;
  text-decoration-color:white ;
  color:var(--color-1);
}

nav a:hover {
  text-decoration-color: var(--color-4);
  color: var(--color-4);
}

.logout {
  align-self: flex-start;
  background-color: white;
  border-radius: 13px;
  font-size: 20px;
  min-height: 4ch;
  min-width: 8ch;
  margin-left: 130%;
  background-color: var(--color-1);
  color:white;
}

.logout:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.logout:hover {
  background-color: var(--color-4);
}









/* HOME */

.home {
  font-family: 'Playfair Display', serif;
  margin: 2%;
}
.welcome{
  color: var(--color-3);
  font-size: 2.5ch;
}

.about{
  margin-left: 100px;
  width: 60%;
}

.sec {
  color: var(--color-4);
}

ul {
  list-style: none;
}

.me{
  margin-top: 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2ch;
}

p {
  font-size: 2ch;
}


/* LOGIN */

.login{
  border: 5px #0c2461;
}

.input{
  font-family: 'Inconsolata', monospace;
  margin: 5px;
}

input {
  border-radius: 8px;
}

.formbut{
  background-color: white;
  border-radius: 10px;
  min-width: 6em;
  min-height: 2em;
  font-family: 'Inconsolata', monospace;
}







/* REGISTER */


.registerform {
  display: flex;
  justify-content: center;
}





/* ASSETS */







/* ADD CRYPTO */








/* CRYPTO */








/* NFT */